DB_URL=
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
JWT_SECRET=
JWT_EXPIRY_MS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
EXECUTION_TIMEOUT_SECONDS=10
ALLOWED_ORIGINS=
